
<app-menu></app-menu>
<h1>List of fishes catched: </h1>
<div class="form-container">
  <form (ngSubmit)="addFish()" #form="ngForm">
    
<div class="input">

    <div class="form-group">
      <div>
        <img src="https://static1-us.millenium.gg/articles/7/15/05/7/@/156507-acnh-rare-fish-article_m-2.png">
      </div>
      <h3>Name of Fish List:</h3>
      <input  class="form-control"  name="name" type="text" placeholder="Name of list" [(ngModel)]="name" required  #nameInput="ngModel">
      <p *ngIf="nameInput.invalid && nameInput.touched" class="error-msg">Name of list is required. </p>
    </div>
    <div class="form-group">
      <h3>Id of Island Leader:</h3>
      <input  class="form-control"  name="id" type="text" placeholder="Id of Island Leader" [(ngModel)]="id" required min="1" #idInput="ngModel">
      <p *ngIf="idInput.invalid && idInput.touched" class="error-msg">Id of Island Leader is required. </p>
    </div>
    <h3>Select a fish catched, please:</h3>
  <div>
      <select class="list" name='fish' [(ngModel)]="f" required #fishInput="ngModel">
        <option selected [value] ="fishInput" disabled hidden> Select a fish </option>
        <option *ngFor="let fish of fishes" [value]="fish.name['name-EUes']"> {{fish.name['name-EUes']}} </option>
      </select>
  </div>
</div >
<div class="add">
<button  type="submit" class="btn btn-primary" [disabled]="form.invalid">Add fish</button>
</div>
</form>
<div class = "listfish-container">
  <table mat-table [dataSource]="fishCatched" class="mat-elevation-z8" #tabla1>

    <ng-container class = "column" matColumnDef="idIslandLeader">
      <th mat-header-cell *matHeaderCellDef> Id Island Leader </th>
      <td mat-cell *matCellDef="let fish"> {{fish.idIslandLeader}} </td>
    </ng-container>

    <ng-container class = "column" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> List Name </th>
      <td mat-cell *matCellDef="let fish"> {{fish.name}} </td>
    </ng-container>

    <ng-container class = "column" matColumnDef="fishName">
      <th mat-header-cell *matHeaderCellDef> Fish Name </th>
      <td mat-cell *matCellDef="let fish"> {{fish.fishName}} </td>
    </ng-container>

    <ng-container class = "column" matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let j = index;">
        <div class="delete">
        <button class= "delete"mat-raised-button color="warn" focusable="false" (click)="deleteFishCatched(j)">
          Delete
        </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
</div>



