
<app-menu></app-menu>
<div class="gif"> <iframe src="https://c.tenor.com/PeegDtyzXS0AAAAC/animal-crossing-animal-crossing-new-horizons.gif" width="100%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p>
<!--<div class="gif1" ><iframe src="https://giphy.com/embed/XE7hLtlphwAK70mP3i" width="100%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/stickers/present-animal-crossing-new-horizons-XE7hLtlphwAK70mP3i"></a></p>
<div class="gif3" ><iframe src="https://giphy.com/embed/XE7hLtlphwAK70mP3i" width="100%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/stickers/present-animal-crossing-new-horizons-XE7hLtlphwAK70mP3i"></a></p>-->

