<div class="buttonsMenu">
  <button [routerLink]="['/profile']">Home</button>
  <button [routerLink]="['/villagers']">Villagers</button>
  <button [routerLink]="['/fishes']">Fishes</button>
  <button [routerLink]="['/bugs']">Bugs</button>
  <button [routerLink]="['/island-leader']">Island Leader</button>
  <button [routerLink]="['/island']">Island</button>
  <button [routerLink]="['/fish-catched']">Fish Catched</button>
  <button [routerLink]="['/bug-catched']">Bug Catched</button>
  <button mat-button  (click)="logout()">Logout</button>
</div>
