::ng-deep ul > li:not(.active) > a {
  background-color: #74e0aa !important;
  border-color: black !important;
}

::ng-deep ul > li.disabled > span {
  background-color: #74e0aa !important;
  border-color: black !important;
}


